[Unit]
Description=Payment Service
[Service]
User=root
WorkingDirectory=/app
Environment=CART_HOST=172.31.22.157
Environment=CART_PORT=8080
Environment=USER_HOST=172.31.30.152
Environment=USER_PORT=8080
Environment=AMQP_HOST=172.31.27.114
Environment=AMQP_USER=roboshop
Environment=AMQP_PASS=roboshop123
ExecStart=/usr/local/bin/uwsgi --ini payment.ini
ExecStop=/bin/kill -9 $MAINPID
SyslogIdentifier=payment
[Install]
WantedBy=multi-user.target